*
{
    padding: 0;
    margin: 0;
}
a
{
    text-decoration: none;
}

.section-1
{
    background-color: #29363E;
    display: flex;
    flex-wrap: wrap;
    padding: 0 13%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.left-header
{
    font-size: 24px;
}
.header
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin :15px 0;
    flex: 1 0 auto;
    height: 60px;
}
.right-header
{
    display: flex;
    gap: 20px;
}
.link-1,.section-1
{
    color: #E5E7EB;
    font-size: 18px;
}
.content
{
    height: 400px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
    box-sizing: border-box;
}
.left-content
{
    height: 300px;
    width: 50%;
    flex : 1 0 none;
    display: flex;
    flex-direction: column;
}
.porshe
{
    width: 490px;
    height: 300px;
    border-radius: 10px;
    flex: 1 1 auto;
}
.left-content > p
{
    margin: 30px 0;
}
.rent-heading
{
    font-size: 48px;
    font-weight: 900;

}
.left-content > button
{
    background-color: #29363e00;
    color: white;
    font-size: 18px;
    border: 1px solid white;
    padding: 7px 12px;
    border-radius: 10px;
    margin: auto;
    box-sizing: border-box;
    width : 100px;
}
.left-content > button:hover
{
    background-color: rgba(99, 190, 252, 0.712);
    border-color: orange;
    border-radius: 25px;
}
.link-1:hover,.left-header:hover
{
    color : aqua;
}
.section-2
{
    background-color: #00000025;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10%;
    min-height: 600px;
    height: fit-content;
    align-content: flex-start;
    
}
.header-2
{
    width: 100%;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    font-size: 32px;
}
.content-2
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    gap : 30px;
    width: 80%;
}
.content-box
{
    border: 7px solid #29363E;
    border-radius: 20px;
}
.content-2>p,.content-box
{
    width: 190px;
    height: 190px;
}
.content-2>p
{
    text-align: center;
}
.row-1,.row-2
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row-2 > p
{
    width: 190px;
    text-align: center;
    margin : 20px 0;
}
.section-3
{
    height: 400px;
    padding: 0 20%;

}
.verse,.reference
{
    display: block;
}
.verse
{
    text-align: center;
}